* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
}

main {
  padding: 36px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  padding: 20px;
  color: white;
}

.header-title {
  font-size: 20px;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
}

.form-button {
  grid-column: 1 / -1;
  gap: 17px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
}

.meme-image {
  max-width: 100%;
}