* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  padding: 20px;
  color: white;
}

.header-title {
  font-size: 20px;
}